version: '3'

services:
  camelion_demo_store_staging_front:
    image: registry.gitlab.com/camelion-demo/camelion-demo-store:v1
    env_file:
      - ./.env
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: "1"
          memory: 1gb
        reservations:
          memory: 256mb
      update_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.camelion-demo-store.rule=Host(`${SITE_DOMAINE_NAME}`)"
        - "traefik.http.routers.camelion-demo-store.entrypoints=websecure"
        - "traefik.http.routers.camelion-demo-store.tls.certresolver=letsencryptresolver"
        - "traefik.http.services.camelion-demo-store-srv.loadbalancer.server.port=8080"


networks:
  default:
    external:
      name: traefik_net
